* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height:100%; /* needed for container min-height */
}
html {

    font-family: "Myriad Pro", Arial, sans-serif;
}

body {
   
    background-color: $bodybgcolor;
}